u.title {
	font-weight: 1;
	
	text-decoration: underline;
	text-decoration-color: #660000;
}

a {
	color: dimgrey;
}

p.box {
	border: 2px solid Grey;
	padding: 20px;
	width: 200px;
	box-shadow: 2.5px 5px #888888;
	background-color: #f2f2f2;
}

body {
	background-color: #f3efe1;
	font-family: 'Roboto Condensed', Roboto, sans-serif;
}

h1 {
	font-family: 'GFS Didot', serif;
	font-weight: 1;
}

.Tabbed {
	padding-right: 25%;
	padding-left: 25%;
}
